@page "/componentsample"
@using System.Text.RegularExpressions
@using Fare

<section id="top"></section>

<PageTitle>Example!</PageTitle>

<h1>Título de ejemplo</h1>

<h5>Subtitulo del componente de prueba</h5>

<div id="camposInput">
    <input type="text" id="Textbox" size="50%" Placeholder='Campo de texto de prueba'
           @bind="@Cadena" />

    <input type="number" id="Textbox" Placeholder='Campo numerico' @bind="@Numero" step="@StepValue()" />
</div>

<div id="resultados">
    <div id="resultBlock">
        <label id="resultText">Este parrafo muestra un String:</label>
        <label>@cadena</label>
    </div>
    <div id="resultBlock">
        <label id="resultText">Este parrafo muestra un numero:</label>
        <label>@numero</label>
    </div>
</div>

<div id=buttons>
    <button class="btn btn-warning" @onclick="Aceptar" disabled="@IsDisabled">Aceptar</button>
    <button class="btn btn-warning" @onclick="GenerarRegistroAleatorio">Generar</button>
</div>

<div id="scrollBtnContainer">
    <button class="btn" id="scrollBtn" onclick="document.getElementById('bottom').scrollIntoView({behavior:'smooth'})">
        <i class="oi oi-chevron-bottom"></i>
    </button>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Palabra</th>
            <th>Numero</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sampleModel in ListaEjemplo)
        {
            <tr>
                <td>@sampleModel.Cadena</td>
                <td>@sampleModel.Numero</td>
            </tr>
        }
    </tbody>
</table>
<section id="bottom"></section>
<div id="scrollBtnContainer">
    <button class="btn" id="scrollBtn" onclick="document.getElementById('top').scrollIntoView({behavior:'smooth'})">
        <i class="oi oi-chevron-top"></i>
    </button>
</div>
<style>
  
    button {
        width: 135px;
        margin: 0 2% 2%;
        text-align: center;
    }

    #scrollBtnContainer {       
        text-align: right;
    }

    #scrollBtn {  
        width: 40px;
    }

    #campos {
        display: flex;
        text-align: center;
        margin: 5%;
        gap: 5%;
    }

    #camposInput {
        display: flex;
        text-align: center;
        margin: 5%;
        gap: 5%;
    }

    input {
        border-radius: 5px;
        width: 50%;
    }

        input[type=text] {
            border: 1px solid red;
        }

        input[type=number] {
            border: 2px thin gray;
        }

    #resultados {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 5%;
    }


    #resultText {
        font-weight: bold;
        width: 50%;
    }

    .table, th, td {
        border: 1px solid black;
    }

        .table th {
            background-color: #E0E0E0;
        }

    h1 {
        text-decoration: underline;
    }

    #buttons {
        text-align: center;
    }

</style>
